/*.centerAlign{
    width: 80%;
    margin-right: 30px;
    height: 100px;
    margin-top: 10px;
}

.main-login-div{
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
}
.centerAlign1{
    height: auto;
}
/*.main_div{
    width: 10000px;
}*/

/*.avilableBlood{
    width: 1000px;
    margin-left: 500px;
}*/
.centerAlign1{
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
}
.available{
    width: 40%;
    margin-left: 35%;
}
.main_div{
    width: 70%;
    margin-left: 300px;
    margin-top: 20px;
}
.donorcart{
    width: 67%;
    margin: 0 auto;
    margin-top: 20px;    
}
/*.list{
    text-align: center;
}*/